.venv/
__pycache__/
*.csv
Output Logs/
*.aux
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.bcf
*.blg
*.xmpdata
*.run.xml
pdfa.xmpi
.DS_Store
.agents/
Code/Output Logs/
.vscode/
*.wandb
wandb/
**/data/appworld_root/
**/~/
**/IsaacLab/
**/.env
.claude/
